div{

  display:inline-table;
  width: 30%;
  height: 40vh;
  margin: 10px;
  box-sizing: border-box;
  text-align: left;
  background-color:#ffc107;
  font-size: 40px;
  font-family:monospace;
}
.color{
    background-color:black;
}
.letter{
  color:white;
}
