div{
  display: block;
  width: 40%;
  height: 200px;
  background-color: #ffc107;
  margin: 0.01%;
  font-size:40px;
}
.blac{
  background-color: black;
  font-size:50px;
}
.letter{
  color:white;
}
.letter1{
  font-size: 25px;
  font-style:courier black;
}
